.navbar {
  position: sticky;
  top: 0;
  width: 100vw;
  background-color: var(--bg);
  z-index: 1000;
  padding: 1.25rem 0;
  transition: all 0.4s ease;

  &.scrolled {
    padding: 0.5rem 0;

    .logo-container .logo {
      width: 60px;
      height: 60px;
    }
  }

  .navbar-inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    transition: all 0.4s ease;
  }

  .logo-container {
    display: flex;
    align-items: center;

    .logo {
      width: 120px;
      height: 120px;
      object-fit: contain;
      transition: all 0.3s ease;
      display: block;
    }
  }

  .nav-links {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2rem;
    margin: 0;

    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 1rem;
      color: #111;

      &:hover {
        color: var(--card-bg);
      }
    }
  }

  .nav-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    margin: 0;
  }
}
