.review-content {
  blockquote {
    margin: 0 0 0.5rem 0;
    font-style: italic;
    line-height: 1.4;
  }

  figcaption {
    font-size: 0.85rem;
    font-weight: normal;
    color: #555;
  }

  .review-date {
    font-style: italic;
    color: #777;
  }
}
