@forward "card";
@forward "cardSlider";
@forward "navbar";
@forward "heroBanner";
@forward "calendar";
@forward "reviews";
@forward "form";
@forward "contact";
@forward "about";
@forward "catalog";
@forward "product";
@forward "countdown";
@forward "flashSaleBanner";
@forward "flashSaleModal";
@forward "modal";

// trigger preview deployment in vercel
