:root {
  --bg: #efebe5;
  --accent: #f1ccfa;
  --accent-strong: #da87f0;
  --text-dark: #000000;
  --text-light: #ffffff;
  --card-bg: #f7f2eb;
  --button-bg: #f1ccfa;
  --border-radius: 12px;
}

body {
  background-color: var(--bg);
  color: var(--text-dark);
}

button {
  display: inline-block;
  align-self: center;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--accent-strong);

  transition: all 0.2s ease;

  &.active,
  &:hover {
    background-color: var(--accent-strong);
    color: var(--text-light);
    border-radius: var(--border-radius);
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  max-width: 1280px;
  margin: 0 auto;

  & > .full-width {
    width: 100vw;
    max-width: none;
    margin-left: calc(-50vw + 50%);
    padding: 0; // or custom padding for edge-to-edge

    // prevent any inherited max-width from child elements
    * {
      max-width: 100%;
    }
  }

  @media (min-width: 600px) {
    padding: 3rem 2rem;
  }
}

section[id] {
  scroll-margin-top: 90px;
}

section:not(.hero-banner) {
  border-bottom: 1px solid #e0e0e0;
}

section:last-of-type {
  border-bottom: none;
}
