h1,
h2 {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--accent-strong);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}
